@using Microsoft.AspNet.Identity
@model MusicUploader.Models.ViewModels.Song.ListSongsViewModel

<table class="table table-stripped">
    <tr>
        <th></th>
        <th>
            Song name
        </th>
        <th>
            Song genre
        </th>
        <th></th>
    </tr>

@foreach (var song in Model.Songs)
{
    <tr>
        <td>
            <img src="/uploads/image/@song.ImageFileName" style="max-height: 25px; max-width: 25px;" class="img-circle" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => song.SongName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => song.Genre.Name)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Songs", new { id = song.Id }, new { @class = "btn btn-xs btn-primary" })
            @if (User.Identity.GetUserId() == song.Uploader.Id || User.IsInRole("admin"))
            {
                <span> | </span>
                @Html.ActionLink("Edit song", "Edit", "Songs", new { id = song.Id }, new {@class = "btn btn-xs btn-warning"})
                <span> | </span>
                @Html.ActionLink("Delete song", "Delete", "Songs", new { id = song.Id }, new {@class = "btn btn-xs btn-danger", onclick="return confirm('Do you really want to delete it?')"})
            }
            
        </td>
    </tr>
}

</table>
